body{
    margin: 0;
}
html {
    min-height: 100%;
    position: relative;
}
.wrapper{
    flex-direction: column;
	width: 100%;
	height: 100%;
    overflow: hidden;
}
.contenido{
    background-color: rgb(255, 255, 255) !important;
    width: 80%;
    margin: 2% auto;
	height: 100%;
}
.footer {
	color: white;
	text-align: center;
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  .navbar .dropdown-menu a{
      color: white !important;
  }
  .navbar .dropdown-menu a:hover{
    color: rgb(197, 197, 197) !important;
    background-color: #1f1f1f;
}
#menu{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}