<table id="cart_table" class="table table-hover">
    <!--Table head-->
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>#</th>
            <th>IDPRODUCT</th>
            <th>PRICE</th>
            <th>CANTIDAD</th>
            <th>TOTAL</th>
            <th>MANAGE</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>idproduct</td>
            <td>price</td>
            <td>cantidad</td>
            <td>total</td>
            <td>manage</td>
        </tr>
    </tbody>
    <!--Table body-->
</table>
