<table class="table table-hover">
    <!--Table head-->
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>#</th>
            <th>IDPRODUCT</th>
            <th>PRICE</th>
            <th>CANTIDAD</th>
            <th>TOTAL</th>
            <th>MANAGE</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>USA</td>
            <td>New York</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Spain</td>
            <td>Madrid</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Italy</td>
            <td>Rome</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Anna</td>
            <td>Doe</td>
            <td>@anna</td>
            <td>Poland</td>
            <td>Warsaw</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Mary</td>
            <td>Kate</td>
            <td>@olsen</td>
            <td>Germany</td>
            <td>Berlin</td>
        </tr>
    </tbody>
    <!--Table body-->
</table>